body {
    background-color: #eae2b7;
}

.main {
    font-family: monospace;
    text-align: center;
    color: #003049;
    font-size: 40px;
}

.recipe-button {
    display: inline-block;
    font-family: monospace;
    background-color: #00304980;
    padding: 15px;
    margin: 15px;
    border-radius: 10px;
    border: 10px;
    color: #eae2b7;
}

.recipe-button:hover {
    background-color: #003049;
}

.homepage-recipe-buttons {
    text-align: center;
}

.ingredients,
.steps {
    font-family: monospace;
    text-align: center;
    color: #003049;
    font-size: 20px;
}

.images {
    display: block;
    border-radius: 10px;
    border: 3px solid #003049;
    margin: 0 auto;
}

.description {
    font-family: monospace;
    color: #093e5a;
    margin: 30px 100px;
}

.ingredient-list {
    font-family: monospace;
    color: #093e5a;
    margin: 15px 90px;
}

.steps-list {
    font-family: monospace;
    color: #093e5a;
    margin: 15px 100px;
}

.home-button {
    display: inline-block;
    font-family: monospace;
    background-color: #00304980;
    padding: 12px;
    margin: 15px 15px 0px 15px;
    border-radius: 10px;
    border: 10px;
    color: #eae2b7;
}

.home-button:hover {
    background-color: #003049;
}

.main-header {
    font-family: monospace;
    text-align: center;
    color: #003049;
    font-size: 40px;
    margin-top: 0px; 
}