body {
    background-color: #eae2b7;
}

.main {
    font-family: monospace;
    text-align: center;
    color: #003049;
    font-size: 40px;
}

.recipe-button {
    display: inline-block;
    font-family: monospace;
    background-color: #00304980;
    padding: 15px;
    margin: 15px;
    border-radius: 10px;
    border: 10px;
    color: #eae2b7;
}

.recipe-button:hover {
    background-color: #003049;
}

.home-buttons {
    text-align: center;
}

.ingredients,
.steps {
    font-family: monospace;
    text-align: center;
    color: #003049;
    font-size: 20px;
}